@model TimproTeste.Entidade.Imovel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes1.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes1.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusImovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusImovel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ImovelId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
